# Node.js dependencies
node_modules/

# Environment variables
.env


# Jest test coverage reports
coverage/

# Logs
logs/
logs/*.log
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/System files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
*.swp  # Vim swap files

# Temporary files
scripts/debug/*.js


